
/* !-- Index ------------------------------------------------- */

body {
	padding: 0;
	margin: 0;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 16px;
}

.index {
	width: 300px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.logo {
	max-width: 100%;
	height: auto;
	margin-bottom: 25px;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

li {
	display: block;
}

a {
	color: #3a9628;
}

li a {
	display: block;
	padding: 8px 16px;
	border-top: 1px solid #eee;
}

li a:hover {
	background-color: #eee;
}


/* !-- Comps ------------------------------------------------- */

.comp {
	margin: 0 auto;
	text-align: center;
	img {
		display: block;
		margin: 0 auto;
	}
}


/* !-- Mobile Comp ------------------------------------------- */

body.mobile {
	background-color: #d5d5d5;
}

.phone-wrapper {
	position: relative;
	width: 460px;
	height: 870px;
	margin: 0 auto;
	background: #eee;
	background: url("../images/mobile-bg.jpg") no-repeat;
	text-align: left;
}

.mobile-view {
	position: absolute;
	top: 141px;
	left: 65px;
	width: 420px;
	height: 573px;
	overflow-y: scroll;
}















