/* !-- Sub navigation -- */

.sub-navigation {
	.site-content & {
		overflow: visible;
	}
	ul {
		padding: 0;
		margin-left: 0;
		margin-bottom: 0;
		list-style: none;
		overflow: visible;
	}
	a {
		display: block;
		padding: 8px 12px;
		border-bottom: 1px solid #dadada;
		line-height: 1.2em;
		text-decoration: none;
		&:hover {
			background: #fafafa;
		}
	}
	li:first-child a {
		border-top: 1px solid #dadada;
	}
	.active a {
		font-weight: bold;
		color: #000;
	}
}

/* !-- Posts and Pages -- */

.h-page {
	@extend .entry-title;
}

.entry-title {
	margin-top: 0;
	padding-bottom: 0.45em;
	border-bottom: 1px solid $border_brown;
	font-size: $txt_large;
	font-weight: normal;
	.page-template-news .post &,
	.single-post .post &,
	.archive .post &,
	.post-type-archive-spotlight .spotlight & {
		margin-bottom: 0.25em;
		padding-bottom: 0;
		border-bottom: none;
	}
}

.page-template-news,
.single-post,
.archive .post {
	.entry-meta {
		margin-bottom: 1em;
		color: $gray_brown;
		a {
			color: $gray_brown;
			text-decoration: underline;
		}
	}
}

.page-template-news,
.archive {
	.post {
		padding-bottom: 2em;
		border-bottom: 1px solid $border_brown;
	}
}

.featured-image-wrapper {
	display: inline-block;
	width: auto;
	//padding: 10px;
	.featured-image-inner {
		position: relative;
		margin-top: $txt_base;
		margin-bottom: $txt_base;
		z-index: 1;
		img {
			position: relative;
			border: 8px solid #fff;
			box-shadow: 0 0 5px rgba(#000, 0.2);
			z-index: 1;
		}
		&:before {
			content: " ";
			position: absolute;
			top: -0.6%;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background: #fff;
			box-shadow: 0 0 5px rgba(#000, 0.2);
			z-index: 0;
			-webkit-transform: rotate(1deg);
	/*
			-moz-transform: rotate(10deg);
			-ms-transform: rotate(10deg);
			-o-transform: rotate(10deg);
			transform: rotate(10deg);
	*/
		}
	}
}

.entry-content {
	margin: 0;
	
	p {
		line-height: 1.45em;
	}
}



.gallery {
	.gallery-item {
		margin: 0;
		margin-right: 4%;
		margin-bottom: 4%;
		border: 6px solid #fff;
		width: 46%;
		max-width: none;
		box-shadow: 0 2px 5px rgba(#000, 0.1);
		box-sizing: border-box;
		&:nth-child(even) {
			margin-right: 0;
		}
		a {
			display: block;
		}
		img {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}
}


@include growpoint(hobbit) {
	
	.gallery {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
		.gallery-item {
			margin: 0;
			margin-right: 2%;
			margin-bottom: 1em;
			padding: 0;
			border-width: 8px;
			width: 32%;
			&:nth-child(even) {
				margin-right: 2%;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
			a {
				display: block;
			}
			img {
				display: block;
				width: 100%;
				max-width: 100%;
			}
		}
	}
	
}

@include growpoint(human) {
	
	.entry-title {
		font-size: 36px;
	}
	
	.featured-image-inner {
		margin-top: $txt_base_human;
		margin-bottom: $txt_base_human;
	}
	
}