.member-card {
	@extend .paper, .paper-edge-bottom;
	margin-bottom: 1em;
	width: 100%;
	box-sizing: border-box;
	word-wrap: break-word;
}

.grid-sizer {
	width: 100%;
	box-sizing: border-box;
}

.gutter-sizer {
	width: 0;
	box-sizing: border-box;
}

.member-logo {
	margin: 0 auto;
	margin-bottom: 1em;
	max-width: 300px;
	max-height: 100px;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.member-title {
	margin-bottom: 0.5em;
	font-size: $txt_base;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: $dark_brown;
}

.member-category {
	font-size: 15px;
	font-style: italic;
	text-align: center;
	color: $text_gray;
}

.h-field {
	margin-bottom: 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $text_gray;
}
	
.extra-fields {
	display: none;
}

.member-more {
	position: relative;
	display: inline-block;
	padding-right: 20px;
	a {
		cursor: pointer;
	}
	&:after {
		content: " ";
		display: block;
		position: absolute;
		bottom: 2px;
		right: 0;
		width: 15px;
		height: 15px;
		background-image: url("images/icon-sprite-showhide.png");
		background-position: right 0;
		background-repeat: no-repeat;
		background-size: 15px;
	}
	&.opened {
		&:after {
			background-position-y: 100%;
		}
	}
}

@include growpoint(hobbit) {
	.member-card {
		width: 49%;
	}
	
	.grid-sizer {
		width: 49%;
	}
	
	.gutter-sizer {
		width: 2%;
	}
}

@include growpoint(human) {
	.grid-sizer {
		width: 32%;
	}
	
	.gutter-sizer {
		width: 2%;
	}
	
	.member-card {
		width: 32%;
	}
	
	.member-field {
		font-size: 16px;
	}
}