.event {
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px solid rgba($border_brown, 0.33);
	&:last-child {
		border-bottom: none;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.event-title {
	margin-bottom: 0.25em;
	border-bottom: none;
	font-size: $txt_large;
	font-weight: bold;
}

.event-meta {
	font-size: $txt_base;
	color: $gray_brown;
	p {
		margin-bottom: 0;
	}
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit;
	}
	@include growpoint(human) {
		font-size: $txt_base_human;
	}
	+ .featured-image-wrapper {
		margin-top: 1em;
	}
}

.event-content {
	margin-top: 1.3em;
}

.event-more-link {
	margin-bottom: 0;
}

@include growpoint(hobbit) {
	.event {
		margin-bottom: 3em;
		padding-bottom: 3em;
		border-bottom: 1px solid rgba($border_brown, 0.33);
	}
}