.site-footer {
	border-top: 5px solid $light_brown;
	font-size: 14px;
	background: $dark_brown;
	color: #fff;
	h1 {
		margin-top: 0;
		margin-bottom: 1em;
		font-weight: normal;
		color: #fff;
	}
	a {
		color: $yellow;
		&:hover {
			color: #fff;
		}
	}
	.newsletter #field_1_1 {
		label {
			@extend .visuallyhidden;
		}
	}
	.copyright {
		color: rgba(#fff, 0.75);
	}
}

.footer-module {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(#000, 0.15);
	&:last-child {
		border-bottom: 0;
	}
	div:last-child > p:last-child {
		margin-bottom: 0;
	}
}

.footer-logo {
	display: block;
	margin-bottom: 1em;
	max-width: 150px;
}

.social-icons {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.social-icon {
	display: inline-block;
	margin-right: 5px;
	width: 30px;
	height: 30px;
	background-size: cover;
	background-position: center top;
	cursor: pointer;
	vertical-align: middle;
	&:last-child {
		margin-right: 0;
	}
	&.facebook {
		background-image: url("images/icon-sprite-facebook.png");
	}
	&.twitter {
		background-image: url("images/icon-sprite-twitter.png");
	}
	&.google {
		background-image: url("images/icon-sprite-google.png");
	}
	&.youtube {
		background-image: url("images/icon-sprite-youtube.png");
	}
	&:hover {
		background-position: center bottom;
	}
}

.footer-nav {
	ul {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;
	}
}

@include growpoint(hobbit) {
	.footer-module {
		float: left;
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
		width: 50%;
		box-sizing: border-box;
	}
	.site-info {
		padding-right: 20px;
	}
	.footer-nav {
		clear: both;
		width: 100%;
		ul {
			padding-top: 20px;
			margin-top: 20px;
			border-top: 1px solid rgba(#000, 0.15);
			text-align: center;
			li {
				display: inline-block;
				margin-right: 20px;
			}
		}
	}
}

@include growpoint(human) {
	.site-info {
		width: 33.33333%;
	}
	.engagement {
		//width: 66.66666%;
	}
	.footer-nav {
		clear: none;
		float: left;
		width: 66.66666%;
		ul {
			display: inline-block;
			float: right;
			margin: 0;
			padding: 0;
			border: none;
			width: auto;
			li {
				float: left;
				margin-right: 0;
				margin-left: 30px;
			}
		}
	}
}

@include growpoint(troll) {
	.site-info {
		padding-right: 30px;
		width: 26%;
	}
	.engagement {
		//width: 53%;
	}
	.footer-nav {
		width: 74%;
	}
/*
	.footer-nav {
		clear: none;
		float: left;
		padding-left: 30px;
		width: 21%;
		ul {
			margin: 0;
			padding: 0;
			border: none;
			text-align: left;
			li {
				display: block;
				margin-right: 0;
			}
		}
	}
*/
}