/* !-- General form styles -- */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"] {
	padding: 8px 16px;
	border: 0;
	border-radius: 0;
	font-size: $txt_base;
	width: 100%;
	max-width: 500px;
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit;
	}
}

input[type="submit"],
input[type="buttom"],
button {
	padding: 15px 25px;
	border: 0;
	border-radius: 0;
	background: $dark_brown;
	color: $yellow;
	box-shadow: none;
	font-size: $txt_base;
	text-shadow: none;
	&:hover {
		box-shadow: none;
	}
	&.reverse,
	.reversed & {
		background: $yellow;
		color: $dark_brown;
		&:hover {
			background: #fff;
		}
	}
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit;
	}
}


/* !-- Gravity Forms styling -- */

ul.gform_fields {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}




