.site-header {
	min-height: 280px;
	background: url("images/flora-town.jpg") center center no-repeat;
	background-size: cover;
}

.site-title {
	position: absolute;
	top: 26px;
	left: 8px;
	width: 220px;
	height: auto;
	margin: 0;
	z-index: 999;
	a {
		display: block;
	}
	img {
		display: block;
	}
}

.main-navigation {
	position: absolute;
	top: 50px;
	left: 0;
	height: 62px;
	border-top: 5px solid $light_brown;
	border-bottom: 5px solid $light_brown;
	line-height: 36px;
	background: $dark_brown;
	color: #fff;
	box-shadow: 0 3px 3px rgba(#000, 0.2);
	box-sizing: border-box;
	z-index: 0;
	overflow: hidden;
	ul {
		display: block;
		position: absolute;
		left: 100%;
		top: -100%;
		padding: 10px 20px;
		width: 85%;
		box-sizing: border-box;
		background: $dark_brown;
		ul {
			position: relative;
			top: 0;
			left: 0;
			padding: 0;
			width: 100%;
			border-top: 1px solid $light_brown;
			li {
				margin-left: 20px;
			}
			a:hover {
				color: $green;
				background: #f5f5f5;
			}
		}
	}
	li {
		display: block;
		float: none;
		border-bottom: 1px solid $light_brown;
		ul li:last-child {
			border-bottom: none;
		}
	}
	a {
		display: block;
		padding: 14px 16px;
		line-height: 24px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		color: #fff;
		&:hover {
			background-color: #fff;
			color: #000;
		}
		&.menu-toggle:hover {
			background-color: $dark_brown;
			color: #fff;
			cursor: pointer;
		}
	}
	&.is-open {
		overflow: visible;
	}
}

.menu-toggle {
	display: block;
	float: right;
	height: 36px;
	width: 36px;
	margin-top: 7px;
	margin-right: 10px;
	text-indent: -9999px;
	background: url("images/nav-open.svg") no-repeat;
	background-size: contain;
	&.close {
		margin-right: 4px;
		background-image: url("images/nav-close.svg");
	}
}

@include growpoint(human) {
	
	.site-header {
		position: relative;
		z-index: 2;
	}
	
	.site-branding {
		position: relative;
		min-height: 320px;
		max-width: $max_width;
		margin: 0 auto;
		.home & {
			min-height: 550px;
		}
	}
	
	.site-title {
		width: 280px;
		top: 84px;
		left: 20px;
	}
	
	.main-nav-wrapper {
		max-width: $max_width;
		margin: 0 auto;
	}
	
	.main-navigation {
		top: 120px;
		width: 100%;
		line-height: 52px;
		overflow: visible;
		.menu-toggle {
			display: none;
		}
		ul {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0;
			float: left;
			padding-left: 320px;
			ul {
				width: auto;
				margin-left: 0;
				border-top: 0;
				li {
					padding-left: 0;
					margin-left: 0;
				}
			}
		}
		li {
			float: left;
			border-bottom: none;
			ul li:first-child {
				border: none;
			}
			&:hover {
				background: #fff;
				a {
					color: $dark_brown;
					&:hover {
						color: $green;
					}
				}
				ul {
					background: #fff;
				}
			}
		}
		a {
			
		}
	}
	

	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
	}
	
	.main-navigation ul ul ul {
		left: -999em;
		top: 0;
	}
	
	.main-navigation ul ul a {
		width: 200px;
	}
	
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}
	
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
	}
	
}
