/* !-- Home Intro -- */

.home-intro {
	padding: 2em 0;
	text-align: center;
	@include growpoint(hobbit) {
		padding: 3em 0;
	}
}

.home-intro-label {
	font-size: $txt_base*1.1;
	line-height: 1.2em;
	margin-bottom: 1em;
	@include growpoint(hobbit) {
		font-size: 36px;
	}
}

.home-intro-button {
	margin-bottom: 0;
	a {
		@extend .btn-link;
	}
}


/* !-- Home Spotlight -- */

.home-spotlight {
	@include clearfix;
	border-top: 5px solid $light_brown;
	border-bottom: 5px solid $light_brown;
	background-color: $dark_brown;
	background-image: url("images/wood.png");
	background-position: center center;
	background-repeat: repeat;
	color: #fff;
	.inner {
		@include growpoint(hobbit) {
			width: 75%;
			margin: 0 auto;
		}
		@include growpoint(human) {
			width: 100%;
		}
	}
}

.home-spotlight-photo {
	.featured-image-inner {
		margin-bottom: 0;
	}
	@include growpoint(human) {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
}

.home-spotlight-content {
	@include growpoint(human) {
		float: left;
		width: 48%;
	}
}

.h-spotlight {
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	color: #fff;
	span {
		display: block;
		margin-bottom: 0.25em;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

.home-spotlight-content {
	.btn-wrap {
		margin-top: 24px;
	}
}


/* !-- Home News -- */

.home-news {
	@include growpoint(human) {
		float: left;
		width: 67%;
		padding-right: 30px;
	}
}

.news-post {
	@include clearfix;
	margin-bottom: $txt_base*1.2;
	padding-bottom: $txt_base*1.5;
	border-bottom: 1px solid $border_brown;
	@include growpoint(hobbit) {
		margin-bottom: $txt_large_hobbit*1.2;
		padding-bottom: $txt_large_hobbit*1.4;
	}
}

.news-featured-image {
	float: left;
	width: 25%;
	max-width: 150px;
	margin-right: 16px;
	margin-bottom: 10px;
	border: 3px solid #fff;
	img {
		display: block;
	}
	@include growpoint( 480px ) {
		margin: 0;
		border-width: 4px;
	}
	@include growpoint(hobbit) {
		border-width: 5px;
	}
}

.news-content {
	.news-posted-on + p {
		clear: both;
	}
	p:last-child {
		margin-bottom: 0;
	}
	@include growpoint( 480px ) {
		float: left;
		width: 75%;
		padding-left: 20px;
		&.no-image {
			width: 100%;
			padding-left: 0;
		}
		.news-posted-on + p {
			clear: none;
		}
	}
	@include growpoint(hobbit) {
		padding-left: $txt_large_hobbit;
	}
}

.h-news-title {
	clear: none;
	margin-top: 0;
	margin-bottom: $txt_base*0.25;
	font-size: 1.125em /* 18px */
}

.news-posted-on {
	margin-bottom: 0.5em;
	color: $gray_brown;
}


/* !-- Events sidebar -- */

.home-sidebar {
	text-align: center;
	.home-events-list {
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;
		li {
			margin-bottom: 1em;
		}
	}
	.home-sidebar-title {
		margin-bottom: 1em;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 2px;
		&:after {
			content: " ";
			display: block;
			width: 130px;
			height: 16px;
			margin: 0 auto;
			margin-top: 0.5em;
			background: url("images/ornament.png") no-repeat;
			background-size: contain;
		}
	}
	.event-title {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
		font-size: $txt_base;
		font-weight: normal;
	}
	.event-meta {
		color: #999;
		p {
			margin-bottom: 0;
		}
	}
	
	@include growpoint(hobbit) {
		.event-title {
			font-size: $txt_base_hobbit;
		}
	}
	
	@include growpoint(human) {
		float: left;
		width: 33%;
		.event-title {
			font-size: 1.125em;
			font-style: normal;
		}
	}
}

