.row {
	margin: 0 auto;
	padding: 20px 20px;
	@include growpoint(hobbit) {
		padding: 50px 20px;
	}
}

.inner {
	@include clearfix;
	max-width: $max_width;
	margin: 0 auto;
}

.site-content {
	border-top: 5px solid $light_brown;
	box-shadow: 0 0 4px rgba(#000, 0.2);
}

.content-area {
}

@include growpoint(hobbit) {
	.site-main {
		margin: 0 auto;
		max-width: 700px;
	}
}

@include growpoint(human) {
	.content-area {
		float: right;
		padding-left: 50px;
		margin: 0 0 0 -30%;
		width: 100%;
	}
	.site-main {
		margin: 0 0 0 30%;
		max-width: none;
	}
	.site-content .widget-area,
	.site-content .sub-navigation {
		float: left;
		width: 30%;
		overflow: hidden;
	}
	.site-footer {
		clear: both;
		width: 100%;
	}
	.no-sub-nav { // .content-area
		padding-left: 0;
		margin: 0 auto;
		.site-main {
			margin: 0 auto;
			max-width: 700px;
		}
	}
}