body {
	background: $dark_brown;
	overflow-x: hidden;
}

#page {
	position: relative;
	background: url("images/bg.png") repeat;
}

.paper {
	position: relative;
	padding: 30px 16px;
	background: #fff;
	box-shadow: 0 0 4px rgba(#000, 0.2);
}

.paper-edge-top {
	background-clip: padding-box;
	border-width: 0;
	border-top-width: 7px;
	border-image: url("images/paper-edge-shadow.svg") 50% 0 repeat;
	box-shadow: 4px 0 3px -5px rgba(#000, 0.2), 0 4px 3px -5px rgba(#000, 0.2), -4px 0 3px -5px rgba(#000, 0.2);
}

.paper-edge-bottom {
	background-clip: padding-box;
	border-width: 0;
	border-bottom-width: 7px;
	border-image: url("images/paper-edge-shadow.svg") 50% 0 repeat;
	box-shadow: 0 -4px 3px -5px rgba(#000, 0.2), 4px 0 3px -5px rgba(#000, 0.2), -4px 0 3px -5px rgba(#000, 0.2);
}

.paper-edge-both {
	background-clip: padding-box;
	border-width: 0;
	border-top-width: 7px;
	border-bottom-width: 7px;
	border-image: url("images/paper-edge-shadow.svg") 50% 0 repeat;
	box-shadow: 4px 0 3px -5px rgba(#000, 0.2), -4px 0 3px -5px rgba(#000, 0.2);
}

a.btn-link {
	display: inline-block;
	padding: 15px 25px;
	background: $dark_brown;
	color: $yellow;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	&:hover {
		background: #000;
	}
}

a.btn-link-reverse {
	@extend .btn-link;
	background: $yellow;
	color: $dark_brown;
	&:hover {
		background: #fff;
		color: $dark_brown;
	}
}