body {
	font-family: $serif;
	font-size: $txt_base;
	line-height: 1.3em;
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit;
	}
	@include growpoint(human) {
		font-size: $txt_base_human;
	}
}

a,
a:link {
	color: $green;
	text-decoration: none;
	&:visited {
		color: $green;
	}
	&:hover {
		color: darken($green, 15%);
	}
}

/* -- Reset headings -- */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-bottom: $txt_base;
	font-size: $txt_base;
	line-height: normal;
	@include growpoint(hobbit) {
		margin-bottom: $txt_base_hobbit;
		font-size: $txt_base_hobbit;
	}
	@include growpoint(human) {
		margin-bottom: $txt_base_human;
		font-size: $txt_base_human;
	}
}

h1, .h1 {
	margin-bottom: $txt_base*2;
	font-size: $txt_large;
	font-weight: normal;
	color: $dark_brown;
	@include growpoint(hobbit) {
		margin-bottom: $txt_base_hobbit*2;
		font-size: $txt_large_hobbit;
	}
	@include growpoint(human) {
		margin-bottom: $txt_base_human*2;
		font-size: $txt_large_human;
	}
}

h2, .h2 {
	font-size: $txt_base*1.125;
	font-weight: bold;
	color: $dark_brown;
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit*1.125;
	}
	@include growpoint(human) {
		font-size: $txt_base_human*1.125;
	}
}

h3, .h3 {
	font-size: $txt_base;
	font-weight: bold;
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit;
	}
	@include growpoint(human) {
		font-size: $txt_base_human;
	}
}

h4, .h4 {
	font-size: $txt_base;
	font-weight: normal;
	font-style: italic;
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit;
	}
	@include growpoint(human) {
		font-size: $txt_base_human;
	}
}

h5, .h5 {
	font-size: $txt_base*0.8125;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit*0.8125;
	}
	@include growpoint(human) {
		font-size: $txt_base_human*0.8125;
	}
}

h6, .h6 {
	font-size: $txt_base;
	font-weight: bold;
	margin-bottom: 0;
	@include growpoint(hobbit) {
		font-size: $txt_base_hobbit;
	}
	@include growpoint(human) {
		font-size: $txt_base_human;
	}
}

p {
	margin: 0;
	margin-bottom: $txt_base;
	@include growpoint(hobbit) {
		margin-bottom: $txt_base_hobbit;
	}
	@include growpoint(human) {
		margin-bottom: $txt_base_human;
	}
}

ul, ol {
	margin: 0;
	margin-bottom: $txt_base;
	padding: 0;
	padding-left: 30px;
	@include growpoint(hobbit) {
		margin-bottom: $txt_base_hobbit;
		padding-left: 50px;
	}
	@include growpoint(human) {
		padding-left: 50px;
		margin-bottom: $txt_base_human;
	}
}

.content-area li {
	margin-bottom: 0.75em;
}

tr {
	border-bottom: 1px solid rgba($light_brown, 0.2);
}

th {
	padding: 3px 0 5px 0;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: left;
	color: $light_brown;
}

td {
	padding: 3px 0 10px 0;
	font-size: 0.8em;
	@include growpoint(hobbit) {
		font-size: 1em;
	}
}